[submodule "tools/mock"]
	path = tools/mock
	url = https://github.com/uber-go/mock
[submodule "tools/controller-tools"]
	path = tools/controller-tools
	url = https://github.com/kubernetes-sigs/controller-tools.git
[submodule "tools/protobuf"]
	path = tools/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "custom-metrics-autoscaler-operator"]
	path = custom-metrics-autoscaler-operator
	url = https://github.com/openshift/custom-metrics-autoscaler-operator
[submodule "kedacore-keda"]
	path = kedacore-keda
	url = https://github.com/openshift/kedacore-keda
